/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}



body {
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header{
    width: auto;
    height: 80px;
  
}

.fondo-semiblanco{
background: #f1f1f1;
}
.btn_amalgama{
	width: 207px;
    height: 81px;
    display: inline-block;
	background:url(../img/btn_amalgama.png);
	background-position: 0px 0px;	
	margin-left: 0 auto 10px auto;
}
.btn_amalgama:hover{
 background-position: 0px -82px;
}
.separator{
    width: 100%;
    margin: 20px auto;
}
.person_name_container{
     width: 450px;
    height: 80px;
    text-align:center;
    margin: 0 auto;
    float: left;
}
.person_name{
    width: 180px;
    height: 80px;
    text-align:center;
    margin: 0 auto;
    position: relative;
    top: 50%;
    font-size: 20px;
}
.person_name #name{
    float: left;
}
.person_name #lastname{
    float: left;
    margin-left: 10px;
}
.container{
    width: auto;
    height: 600px;
    margin: 0 auto;
	
}
.buttons_container{
    width: 294px;
    float:left;
    text-align:center;
}
.person_container{
    width: 450px;
    float:left;
	/*background: url(../img/fondo.png);*/
}
.gallery_container{
    width: 450px;
    float:left;
    
}
.gallery_item{
    width: 139px;
    height: 139px;
    float: left;
    margin: 5px;
    background: #666;
    border-radius: 25px;
    overflow: hidden;
}
.main{
    width: 800px;
    margin: 0 auto;
}
.left_column{
    width:75px;
    float:left;
	display:table;
}
.right_column{
    width:75px;
    float:left;
}
.person_column{
    width:300px;
    float:left;
}
.person_head{
    width: 300px;
    /*background:url(../img/imagen.png) no-repeat;*/
}
.person_body{
    width: 300px;
    /*background:url(../img/imagen.png) no-repeat;*/
}
.person_foot{
    width: 300px;
    /*background:url(../img/imagen.png) no-repeat;*/
}
.arrow_container{
    width: auto;
    margin: 0 auto;
    text-align:center;
	
}
.arrow{
    cursor: pointer;
    width: 23px;
    height: 45px;
    display: inline-block;
	border:none;
	position: relative;
	top: 50%;
}
::selection{
    background: transparent;
}

.arrow-left{
background:url(../img/btn_atras.png);
 background-position: 0px 0px;
}
.arrow-left:hover{
 background-position: 0px -45px;
}
.arrow-right{
background:url(../img/btn_adelante.png);
 background-position: 0px 0px;
}
.arrow-right:hover{
 background-position: 0px -45px;
 }
.head_container{
    height: 200px;
	position: relative;
z-index: 3;
}
.body_container{
  height: 200px;
position: relative;
z-index: 2;
margin-top: -35px;
}
.foot_container{
    height: 200px;
position: relative;
z-index: 1;
margin-top: -15px;
}
#shownBody {
min-width: 300px;
min-height: 550px;
}
.button{
    width: 208px;
    height: 56px;
    display: block;
    margin: 0 auto 10px auto;
}

.test{
    width: 460px;
    margin: 0 auto;
}
#random_btn{
    cursor: pointer;
    background:url(../img/btn_aleatorio.png) no-repeat;
	 background-position: 0px 0px;
}
#random_btn:hover{
    cursor: pointer;
    background-position: 0px -58px;
}
#save_btn{
    cursor: pointer;
    background:url(../img/btn_guardar.png) no-repeat;
}
#save_btn:hover{
    background-position: 0px -58px;
}
#download_btn{
    cursor: pointer;
    background:url(../img/btn_descargar.png) no-repeat;
}
#download_btn:hover{
     background-position: 0px -58px;
}
#gallery_btn{
    cursor: pointer;
    background:url(../img/btn_galeria.png) no-repeat;
}
#gallery_btn:hover{
     background-position: 0px -58px;
}
#share_btn{
    cursor: pointer;
    background:url(../img/btn_compartir.png) no-repeat;
}
#share_btn:hover{
     background-position: 0px -58px;
}
#background_btn{
    cursor: pointer;
    background:url(../img/btn_fondo.png) no-repeat;
}
#background_btn:hover{
     background-position: 0px -58px;
}


.arrow_left{
    cursor: pointer;
    /*display: block;*/
    background:url(../img/arrow_left.png) no-repeat;
    transform: scale(0.15);
    -ms-transform: scale(0.15); /* IE 9 */
    -webkit-transform: scale(0.15); /* Safari and Chrome */
    width:256px;
    height:256px;
}
.arrow_right{
    cursor: pointer;
    display: inline-block;
    background:url(../img/arrow_right.png) no-repeat;
    transform: scale(0.15);
    -ms-transform: scale(0.15); /* IE 9 */
    -webkit-transform: scale(0.15); /* Safari and Chrome */
    width:256px;
    height:256px;
}
.container_login{
    background: url(../img/background.jpg) no-repeat;
    width: 800px;
    height: 600px;
    padding-top: 100px;
	
}
.logo{
    width: 509px;
    height: 134px;
    background: url(../img/logo.png);
    margin: 0 auto;   
    margin-bottom: 30px;
}
.logo:hover{
/*background: url(../img/logoh.png);*/
}
.login_text{
  
    width: 509px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
	padding-top: 30px;
	border-top:1px solid #fff;
	color:#fff;
}
.login_btn_sign_in{
    width: 386px;
    height: 72px;
    background: url(../img/btn_entrar.png) no-repeat;
	display:block;
	margin:0 auto;
	background-position: 0px 0px;
    
}
.login_btn_sign_in:hover{
background-position: 0px -74px;
}
.margin{
    margin: 0 auto;
}
.font_login{
    font-family: "Roboto Condensed"; 
    font-weight: 400;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}